{% extends '_base.html' %}
{% load static %}

{% block content %}
  <div class="container">
   {% if  factions %}
   Woops! Looks like you are not a member of a faction, perhaps you should <a href="https://www.torn.com/forums.php#/p=forums&f=24&b=0&a=0" target="_blank">join one</a>?
   {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Torn ID</th>
        <th>Faction</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for faction in factions%}
      <tr>
        <td>{{faction.torn_id}}</td>
        <td>{{faction.name}}</td>
        <td><a href ="/faction/{{faction.torn_id}}">View Link</a></td>
      </tr>
       {% endfor %}
    </tbody>
  </table>
   {% endif %}
  </div>
{% endblock %}
