{% load static %}

<div class="columns is-flex is-flex-wrap-nowrap" style="">
  <!-- First column: Image and NPC name -->
  <div class="column is-narrow">
    <div class="mb-2">
      <img src="{% static 'npc/npc_' %}{{ npc.torn_id }}.png" alt="..." style="max-width: 100%; border-radius: 10px;" />
    </div>
    <!-- NPC Name -->
    <div class="mb-3">
      <h4 class="is-marginless" style="font-size: 1.5rem; font-weight: bold;">{{ npc.name }} - {{ npc.status|capfirst }}</h4>
    </div>
  </div>

  <!-- Second column: Loot timings, attack button, and last update -->
  <div class="column" style=" padding: 15px;">
    <!-- Loot Timings -->
    <div>
      {% for k, v in npc.lootTimings.items %}
        {% if forloop.counter0 %}
          <div>
            {% if v.due > 0 %}
              <b>Loot Level {{ v.lvl }}:</b> At {{ v.ts }}
            {% else %}
              <span class="has-text-grey"><b>Loot Level {{ v.lvl }}:</b> On {{ v.ts }}</span>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Attack Button -->
    <div class="mb-3">
      {% if npc.in_hospital %}
        <a id="attack{{ npc.torn_id }}" target="_blank" href="https://www.torn.com/loader2.php?sid=getInAttack&user2ID={{ npc.torn_id }}" class="button is-primary is-disabled">Attack</a>
      {% else %}
        <a id="attack{{ npc.torn_id }}" target="_blank" href="https://www.torn.com/loader2.php?sid=getInAttack&user2ID={{ npc.torn_id }}" class="button is-primary">Attack</a>
      {% endif %}
    </div>

    <!-- Last Update -->
    <div class="mt-3">
      <small class="text-muted">Last Update: {{ npc.last_update_datetime }}</small>
    </div>
  </div>
</div>
