{% extends '_base.html' %}
{% load static %}



{% block content %}

<div class="row">
  {% for npc in NPCs %}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="{% static 'npc/npc_' %}{{ npc.torn_id }}.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ npc.name }} - {{ npc.status|capfirst }}</h5>

        {% for k, v in npc.lootTimings.items %}
      {% if forloop.counter0 %}
      <p class="card-text">

        {% if v.due > 0 %}
        <b>Loot level {{v.lvl}}:</b> {{v.ts}} TCT<br>

        {% else %}
         <span class="text-muted"> <b>Loot level {{v.lvl}}</b><br>On {{v.ts}} TCT</span>
        {% endif %}
      </p>
      {% endif %}
      {% endfor %}
        <a id="attack{{ npc.torn_id }}" target="_blank" href="https://www.torn.com/loader2.php?sid=getInAttack&user2ID={{ npc.torn_id }}" class="btn btn-primary">Attack</a>
        <p class="text-muted">Last Update: {{ npc.last_update_datetime }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
