<!-- templates/_base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TornBuddy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <script src="{% static 'js/toast.js' %}"></script>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"><img src="{% static 'images/TornBuddy.svg' %}" /></a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Home</a>

          <a href="/loot" class="navbar-item">Loot</a>

          <a href="/api" class="navbar-item">API</a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if player %}
                <a href="/player/logout" class="button is-primary"><strong>Log Out</strong></a>
              {% else %}
                <a href="/player/login" class="button is-primary"><strong>Log In</strong></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section px-3">
      {% block content %}

      {% endblock %}
    </section>
    {% for message in messages %}
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          showToast('{{ message }}', 'is-{{ message.tags }}')
        })
      </script>
    {% endfor %}
    <script>
      function showToast(message, type = 'is-danger') {
        bulmaToast.toast({
          message: message,
          type: 'is-danger', // 'is-success', 'is-danger', 'is-warning', etc.
          dismissible: false,
          duration: 8000, // Duration in milliseconds
          position: 'bottom-right' // Can also be 'top-right', 'top-left', 'bottom-right', etc.
        })
      }
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)

        // Add a click event on each of them
        $navbarBurgers.forEach((el) => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target
            const $target = document.getElementById(target)

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active')
            $target.classList.toggle('is-active')
          })
        })
      })
    </script>
  </body>
</html>
